.links {
    display: flex;
    gap: 5px;
    /* расстояние между ссылками */
}

.Header {
    font-size: 30px;
}

a {
    text-decoration: none;
    /* ссылка не подчеркивается*/
}

a:link,
a:visited {
    color: blue;
    /*не меняет цвет при нажатии*/
}

.margin-15 {
    margin-left: 15%;
}

.margin-25 {
    margin-left: 25%;
}

.margin-180 {
    margin-left: 180%;
}